/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.navbar-brand img {
    width: 100px;
}

/* Carousel */
.carousel-item {
    height: 80vh;
}

.carousel-caption {
    margin-bottom: 5%;
    padding: 0 10%;
}

.carousel-caption h1 {
    font-size: 3rem;
}

.carousel-item img {
    object-fit: cover;
    filter: brightness(50%);
}

#courses img {
    object-fit: cover;
}

#about img {
    object-fit: cover;
}

/* Accordion and Form */
.accordion-button:focus,
.form-control:focus {
    box-shadow: none;
}

/* Footer */
#footer>a {
    text-decoration: none;
}

#footer>a:hover {
    text-decoration: underline;
}